@page
@model ProjectPRN222.Pages.User.LoginModel
@{
}@{
   
}

<h2>Login</h2>

<form method="post">
    <div>
        <label>Email</label>
        <input asp-for="Input.Email" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Input.Password" type="password" />
    </div>
    <button type="submit">Login</button>

    <div style="color:red">@Model.ErrorMessage</div>
</form>