@page
@model ProjectPRN222.Pages.User.ProfileModel
@{
}
<h2> Profile</h2>

<form method="post">
    <div>
        <label>Full Name</label><br />
        <input asp-for="UserProfile.FullName" />
    </div>
    <div>
        <label>Email</label><br />
        <input asp-for="UserProfile.Email" disabled />
    </div>
    <div>
        <label>Phone</label><br />
        <input asp-for="UserProfile.Phone" />
    </div>
    <br />
    <button type="submit">Save</button>
    <a asp-page="/Index"><button type="button">Cancel</button></a>
</form>