@page
@model ProjectPRN222.Pages.UserSite.PhoneConfirmModel
@{
}
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "User")]
<h2>Nhập số điện thoại</h2>

<form method="post">
    <div class="form-group">
        <label>Số điện thoại</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    @if (!Model.CodeSent)
    {
        <button type="submit" asp-page-handler="SendCode" class="btn btn-primary mt-2">Gửi mã xác minh</button>
    }
    else
    {
        <div class="form-group mt-3">
            <label>Mã OTP</label>
            <input asp-for="VerificationCode" class="form-control" />
        </div>
        <button type="submit" asp-page-handler="ConfirmCode" class="btn btn-success mt-2">Xác minh</button>
    }

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info mt-2">@TempData["Message"]</div>
    }
</form>